@import "../../styles/variables";

.services {
  text-align: center;
  background-image: url("/images/fundo01.jpg");

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    flex: 0 0 40%;
  }
}

.card {
  border: 2px solid white;
  color: $colorTertiary;
  border-radius: 7px;
  padding: 10px;
  background-color: rgba(152, 152, 152, 0.371);
  margin: 0 60px 50px;
  box-shadow: 0 0 10px $colorSecondary, 0 0 10px #000;
  overflow: hidden;
  transition: all 0.3s linear 0.1s;

  &__title {
    font-family: $font-family-subtitle, sans-serif;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0 auto;
    font-size: 1.5em;
    text-transform: uppercase;
    text-shadow: 0 0 3px white;
  }
  &__photo {
    margin: 15px auto 0;
   
    img {
      height: 340px;
      border-radius: 7px;
      overflow: hidden;
      box-shadow: 0 0 10px #000;
      border: 1px solid white;
    }
  }
  &__description {
    padding: 20px;
    text-indent: 50px;
    text-align: justify;
    line-height: 1.2em;
    font-size: 1.3em;
    margin: 0 auto;
    font-family: $font-family-subtitle, sans-serif;
    font-weight: 400;
    text-shadow: 0 0 3px white;
    
  }
}

.card:hover {
  // transform: translateY(-10px) scale(1.04);
  // box-shadow: 0 10px 10px $colorTertiary;
  // transition: all 0.3s linear 0.1s;
  // cursor: pointer;
}

@media (max-width: 1290px) {
  .services {
    &__item {
      flex: 0 0 350px;
    }
  }

  .card {
    height: 350px;

    &__title {
      font-size: 1.5em;
    }

    &__photo {
      margin: 11px auto 7px;

      img {
        height: 160px;
        width: 160px;
      }
    }

    &__description {
      line-height: 1.3em;
      font-size: 1.5em;
      width: 230px;
    }
  }
}

@media (max-width: 700px) {
  .services {
    padding-top: 10px;

    &__item {
      flex: 0 0 300px;
    }
  }

  .card {
    height: 300px;
    margin: 0 20px 30px;

    &__title {
      margin: -3px auto 0;
      width: auto;
    }

    &__photo {
      margin: 7px auto 7px;

      img {
        height: 150px;
        width: 150px;
      }
    }

    &__description {
      line-height: 1.2em;
      font-size: 1.25em;
      width: 190px;
    }
  }

  .sectionTitle {
    font-size: 1.9em;
  }
}
