@import "../../styles/variables";

.ask {
  background-color: $colorPrimary;
  background-image: url("/images/fundo03.jpg");
  background-position: center top;
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: $font-family-title, sans-serif;
  line-height: 1.5em;

  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  &__box { 
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
  }

  &__image {
    height: 400px;
    flex: 0 1 40%;
    text-align: center;

    img {
      height: 100%;
    }
  }

  &__form { 
    flex: 0 1 50%;
  }

  .form {

    &__input {
      input, textarea {
        font-family: roboto;
        width: 60%;
        font-size: 0.7em;
        padding: 3px 7px;
        border-radius: 5px;
      }
      textarea {
        margin-top: 10px;
        resize: none;
      }
    }

    &__btn {
      margin: 30px 0 10px;
    }
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  input[type="number"] {
      -moz-appearance: textfield;
  }
}

@media (max-width: 1060px) {
  .ask {
    font-size: 1.8em;

    &__title {
      font-size: 0.9em;
    }

    &__box {
      height: auto;

    }

    &__image {
      // height: 200px;
      top: 40%;
      left: 7%;
    }
  }
}

@media (max-width: 700px) {
  .ask {
    font-size: 1.8em;

    &__title {
      font-size: 0.9em;
    }

    &__box {
      // height: auto;
      display: block;
    }

    &__image {
      height: 300px;
      text-align: center;
      margin-bottom: 15px;
      margin-bottom: -7px;
    }
  }
}

@media (max-width: 430px) {
  .ask {
    .form {

      &__input {
        input, textarea {
          width: 80%;
        }
      }

      &__btn {
        margin: 10px 0 0;
      }
    }
  }
}
