.ask#ask
  .container
    p(data-aos="fade-in" data-aos-duration="1800").ask__title.sectionTitle FALE CONOSCO:
    .ask__box
      div(data-aos="zoom-in" data-aos-duration="1800").ask__image
        img(src=require("../../../images/girl.png"), alt="ask") 
      form.ask__form.form(action="https://formsubmit.co/caminante.msk@gmail.com" method="POST" data-aos="zoom-in" data-aos-duration="1800")
        .form__input 
          input(type="text" placeholder="nome" name="nome" required)
        .form__input
          input(type="tel" placeholder="telefone" name="telefone" required)
        .form__input
          input(type="email" placeholder="email" name="email" required)
        .form__input
          textarea(name="pergunta" placeholder="sua pergunta" required rows="5" cols="33" minlength="10")
        input(type="hidden" name="_subject" value="Um novo e-mail de cliente!!!!")
        input(type="hidden" name="_next" value="http://localhost:8080/emailSent.html")
        input(type="hidden" name="_template" value="table")
        input(type="hidden" name="_captcha" value="false")
        button.form__btn.btn(type="submit") Enviar!
        

