@import "variables";

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  text-shadow: 0 0px 2px $colorTertiary;
}

.title {
  text-align: center;
  
  color: white;
  font-size: 40px;
  font-family: montserrat;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-shadow: 0 0 2px $colorPrimary;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 600;
  padding: 0 20px;
  // border-radius: 8px;
  border-radius: 35px;
  border: 1px solid white;
  margin: 0 auto 60px;
  background-color: $colorTertiary;
  width: fit-content;
}