@import "variables";

body {
  background-color: $colorSecondary;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  text-shadow: 0 0px 2px $colorTertiary;
}

.title, 
.sectionTitle {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: montserrat, Arial, Helvetica, sans-serif;
  letter-spacing: 0.15em;
  text-shadow: 0 0 2px $colorPrimary;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 600;
  padding: 0 20px;
  border-radius: 35px;
  border: 2px solid white;
  margin: 0 auto 60px;
  background-color: $colorTertiary;
  width: fit-content;
  box-shadow: 0 0 5px $colorSecondary, 0 0 5px #000;
}

.sectionTitle {
  margin-top: 120px;
  letter-spacing: 0.08em;
  font-size: 23px;

}