@import "variables";

//roboto

@font-face {
  $font-name: "RobotoCondensed-Bold";
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "RobotoCondensed-BoldItalic";
  font-family: roboto;
  font-style: italic;
  font-weight: 700;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "RobotoCondensed-Italic";
  font-family: roboto;
  font-style: italic;
  font-weight: 400;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "RobotoCondensed-Regular";
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

//montserrat

@font-face {
  $font-name: "Montserrat-ExtraLight";
  font-family: montserrat;
  font-weight: 200;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "Montserrat-Regular";
  font-family: montserrat;
  font-weight: 400;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "Montserrat-SemiBold";
  font-family: montserrat;
  font-weight: 600;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "Montserrat-Bold";
  font-family: montserrat;
  font-weight: 700;
  src: url(#{$font-path}/#{$font-name}.ttf);
}