@import "variables";

//gothic

@font-face {
  $font-name: "GothicA1-Bold";
  font-family: gothic;
  font-weight: 700;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "GothicA1-Regular";
  font-family: gothic;
  font-weight: 400;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "GothicA1-SemiBold";
  font-family: gothic;
  font-weight: 600;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

//roboto

@font-face {
  $font-name: "RobotoCondensed-Bold";
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "RobotoCondensed-BoldItalic";
  font-family: roboto;
  font-style: italic;
  font-weight: 700;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "RobotoCondensed-Italic";
  font-family: roboto;
  font-style: italic;
  font-weight: 400;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "RobotoCondensed-Regular";
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

//montserrat

@font-face {
  $font-name: "Montserrat-ExtraLight";
  font-family: montserrat;
  font-weight: 200;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

//robotoSlab

@font-face {
  $font-name: "RobotoSlab-Light";
  font-family: robotoSlab;
  font-weight: 300;
  src: url(#{$font-path}/#{$font-name}.ttf);
}
