@import "../../styles/variables";

.obras {
  padding: 0 0 40px;

  &__subtitle {
    color: white;
    font-family: $font-family-subtitle, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0 auto 20px;
  }

  &__box {
    display: flex;
    padding: 0 20px;
  }

}

.slide {
  font-family: $font-family-title;
  font-weight: 700;
  line-height: 2.6em;
  height: 50vh;
  border:1px solid white;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px $colorTertiary;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 20px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  opacity: 0;
  background-color: $colorSecondary;
  padding: 3px 10px;
  border-radius: 25px;
  line-height: 1.3em;
  box-shadow: 0 0 5px $colorSecondary, 0 0 5px #000;
  font-weight: 600;
  text-shadow: none;
}

.slide.active {
  flex: 9;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
