section.obras#obras
  .container
    .opinions__title.sectionTitle Obras realizadas
    .obras__box
      .slide
        h3 Puente de la Mujer, Buenos Aires
      .slide.active
        h3 Puente de la Mujer, Buenos Aires
      .slide
        h3 Puente de la Mujer, Buenos Aires
      .slide
        h3 Puente de la Mujer, Buenos Aires
      .slide
        h3 Puente de la Mujer, Buenos Aires
      



