section.obras
  .container#obras
    .opinions__title.sectionTitle Obras realizadas
    .obras__box
      //- .slide
      //-   h3 CONSTRUÇOES E REFORMAS
      //- .slide.active
      //-   h3 IMPERMEABILIZAÇOES
      //- .slide
      //-   h3 INSTALAÇAO SPA E HIDROMASSAGENS
      //- .slide
      //-   h3 IMPERMEABILIZAÇOES
      //- .slide
      //-   h3 CONSTRUÇOES E REFORMAS
      



