@import "../../styles/variables";

.obras {
  padding: 10px 0 40px;
  &__box {
    display: flex;
    padding: 0 20px;
  }
}

.slide {
  font-family: $font-family-title;
  font-weight: 700;
  line-height: 2.6em;
  height: 50vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px $colorTertiary;
  flex: 1;
  // background-image: url("https://images.unsplash.com/photo-1586354822120-bf910e563cdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 9;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
