@import "../../styles/variables";

body {
  display: flex;
  flex-direction: column;
}
.product {
  display: none;
  flex: 1 1 auto;
  background-color: $colorTertiary;

  &__box {
    margin-top: 0px;
    padding-top: 230px;
  }

  &__card {
    background-color: $colorSecondary;
    border-radius: 15px;
    box-shadow: 0 0 10px $colorSecondary;
    padding: 5px 30px 10px;
    margin: 25px auto 20px;
    text-align: center;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__photo {
    flex: 0 0 50%;
    height: 300px;
    background-color: grey;
    box-shadow: 0 0 10px grey;
    border-radius: 30px;
    color: $colorSecondary;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__description {
    flex: 0 0 50%;
    font-family: oswald, sans-serif;
    padding: 20px;
    overflow: hidden;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7em;
    font-size: 1.3em;
  }
  &__price {
    margin-top: 30px;
    font-size: 2em;
    p {
      display: inline-block;
      margin-right: 10px;
    }
  }
  .price {
    color: $colorPrimary;
  }
}

@media (max-width: 700px) {
  .product {
    &__box {
      margin-top: 0px;
      padding-top: 195px;
    }

    &__row {
      display: block;
    }

    &__card {
      padding: 5px 15px 10px;
      margin: 20px auto 15px;
    }

    &__photo {
      height: 250px;
    }

    &__description {
      padding: 10px 10px;
      line-height: 1.3em;
      font-size: 1.25em;
    }

    &__price {
      margin-top: 10px;
      font-size: 2em;
      p {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}
