@import "../../styles/variables";

.backButton {
  position: fixed;
  left: 2.5rem;
  bottom: 94%;
  opacity: 0.95;
  cursor: pointer;
  z-index: 100;
}

.backButton button {
  background-color: $colorSecondary;
  padding: 2px 7px;
  transform: scale(0.9);
}

@media (max-width:1000px) {
  .backButton button {
    font-size: 14px;
    padding: 0 6px;
  }  
}