.home#home
  .container 
    .home__box.animate__animated.animate__fadeIn.animate__slower
      p.home__title.title.animate__animated.animate__fadeInRight.animate__slow Oliveira Serviços De Engenharia
      .home__content
