header.header
  .container    
    img.header__logo.logo(src=require("../../../images/logoPinkMod.png"), alt="logo") 
    .header__subtitle "Cuidate, Consientete, Enamorate de ti..."
    .header__title JABONES ARTESANALES MARGARITA
    nav.header__nav 
      ul.header__list 
        li.header__item
          a(href="./index.html#mission") Misión
        li.header__item
          a(href="./index.html#products") Productos
        li.header__item
          a(href="./index.html#opinions") Opiniones
        li.header__item  
          a(href="./index.html#contacts") Contactos
    nav.header__nav_burger
      .burger__inner  