header.header
  .container    
    img.header__logo.logo(src=require("../../../images/logo-com-letras.svg"), alt="oliveira") 
    //- .header__subtitle "Cuidate, Consientete, Enamorate de ti..."
    //- .header__title Serviços de Engenharia da Oliveira
    nav.header__nav 
      ul.header__list 
        li.header__item
          a(href="./index.html#mission") Home
        li.header__item
          a(href="./index.html#mission") Empresa
        li.header__item
          a(href="./index.html#mission") Serviços
        li.header__item
          a(href="./index.html#products") Obras
        li.header__item
          a(href="./index.html#opinions") Opiniões
        li.header__item  
          a(href="./index.html#contacts") Contatos
    nav.header__nav_burger
      .burger__inner  