header.header
  .container    
    img.header__logo.logo(src=require("../../../images/logo-com-letras.svg"), alt="oliveira") 
    nav.header__nav 
      ul.header__list 
        li.header__item
          a(href="./index.html#home") Home
        li.header__item
          a(href="./index.html#servicos") Serviços
        li.header__item
          a(href="./index.html#obras") Obras
        li.header__item
          a(href="./index.html#opinions") Opiniões
        li.header__item  
          a(href="./index.html#contacts") Contatos
    nav.header__nav_burger
      .burger__inner  