@import "../../styles/variables";

body.lock {
  overflow: hidden;
}

.header {
  transition: all 0.8s linear 0.05s;
  display: block;
  position: fixed;
  width: 100%;
  background-color: $colorSecondary;
  text-align: center;
  padding-top: 10px;
  z-index: 300;

  // &__subtitle {
  //   transition: all 0.8s linear 0.05s;
  //   font-size: 1.9em;
  //   font-family: $font-family-subtitle, sans-serif;
  //   font-style: italic;
  // }

  &__title {
    transition: all 0.8s linear 0.05s;
    font-weight: 700;
    font-size: 3.7em;
    margin: 20px auto 20px;
    font-family: $font-family-title, sans-serif;
    font-weight: 700;
  }

  img.logo {
    transition: all 0.8s linear 0.05s;
    float: left;
    display: block;
    height: 170px;
  }

  &__nav {
    z-index: 150;
    // position: absolute;
    // bottom: 20px;
    // left: 55%;
    // transform: translateX(-50%);

    margin: 0 auto;
    width: 70%;
    transition: all 0.8s linear 0.05s;
    font-size: 1.5em;
    line-height: 0.7em;
    font-family: $font-family-subtitle, sans-serif;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    flex: 0 0 15%;
    border-radius: 3px;
    background-color: $colorTertiary;
    padding: 3px;
    transition: all 0.3s linear 0.1s;

    a {
      text-transform: uppercase;
      display: block;
      color: black;
      border: 1px solid #000;
      padding: 5px;
    }
  }

  &__item:hover {
    box-shadow: 0 5px 10px $colorTertiary;
    transform: translateY(-3px) scale(1.02);
    transition: all 0.3s linear 0.1s;
  }

  &__nav_burger {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    transition: all 0.8s linear 0.05s;

    .burger__inner {
      background-color: #000;
      height: 4px;
      width: 100%;
      margin: 50% 0;
      transform: translateY(-50%);
      box-shadow: 0 4px 8px $colorTertiary;
      transition: all 0.8s linear 0.05s;
    }
  }

  &__nav_burger::before,
  &__nav_burger::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #000;
    position: absolute;
    box-shadow: 0 4px 8px $colorTertiary;
  }

  &__nav_burger::before {
    top: 0;
    transition: all 0.8s linear 0.05s;
  }

  &__nav_burger::after {
    transition: all 0.8s linear 0.05s;
    bottom: 0;
  }
}

.scroll.header {
  transition: all 0.8s linear 0.05s;
  display: block;
  position: fixed;
  width: 100%;
  height: 120px;
  padding-top: 0px;
  z-index: 300;

  &__subtitle {
    display: none;
    transition: all 0.8s linear 0.05s;
  }

  &__title {
    font-size: 2.4em;
    margin: 10px auto 20px;
    transition: all 0.8s linear 0.05s;
  }

  img.logo.scroll {
    transition: all 0.8s linear 0.05s;
    height: 100px;
  }

  &__nav {
    transition: all 0.8s linear 0.05s;
    font-size: 1.3em;
    width: 90%;
    line-height: 0.7em;
  }
}

@media (max-width: 1290px) {
  .header {
    height: 220px;

    &__subtitle {
      font-size: 1.6em;
    }

    &__title {
      font-size: 3.5em;
    }

    img.logo {
      height: 200px;
    }
  }
}

@media (max-width: 1100px) {
  .header {
    height: 210px;

    &__title {
      font-size: 3.3em;
      line-height: 1.2em;
      margin: 10px auto;
    }

    img.logo {
      height: 190px;
    }
  }
}

@media (max-width: 883px) {
  .header {
    height: 200px;

    &__subtitle {
      font-size: 1.4em;
    }

    &__title {
      font-size: 2.8em;
    }

    img.logo {
      height: 160px;
    }

    &__nav {
      width: 80%;
      margin-left: 25px;
      bottom: 15px;
    }
  }

  .scroll.header {
    height: 110px;

    &__title {
      font-size: 2.1em;
      margin: 5px auto 20px;
    }

    &__nav {
      width: 80%;
    }
  }
}

@media (max-width: 700px) {
  .header {
    height: auto;
    padding-top: 20px;
    z-index: 300;

    &__subtitle {
      transition: all 0.8s linear 0.05s;
      font-size: 1.2em;
      width: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &__title {
      font-size: 1.8em;
      line-height: 1.1em;
      margin: 10px auto 15px;
    }

    img.logo {
      float: none;
      margin-left: 10%;
      height: 100px;
      z-index: 300;
    }

    &__nav_burger {
      display: block;
      right: 10%;
      top: 50px;
      z-index: 300;
    }

    &__nav_burger.dropped {
      transition: all 0.8s linear 0.05s;

      .burger__inner {
        display: block;
        background-color: #000;
        height: 5px;
        width: 100%;
        margin: 50% 0;
        transform: scale(0);
        box-shadow: 0 4px 8px $colorTertiary;
        transition: all 0.8s linear 0.05s;
      }
    }

    &__nav_burger.dropped::before {
      transform: translateY(17.5px) rotate(45deg);
      transition: all 0.8s linear 0.05s;
    }

    &__nav_burger.dropped::after {
      transform: translateY(-17.5px) rotate(-45deg);
      transition: all 0.8s linear 0.05s;
    }

    &__nav {
      position: absolute;
      display: block;
      top: 80px;
      left: 250%;
      width: 100%;
      transform: translateX(-50%);
      padding: 0;
      margin: 0;
      z-index: 200;
      font-size: 1.5em;
      line-height: 1em;
    }

    &__list {
      display: block;
      margin: 0;
      padding: 0;
      background-color: rgba(236, 236, 126, 0.95);
      padding-bottom: 15px;
      text-shadow: 5px 5px 10px $colorPrimary, 5px 5px 10px black;
      box-shadow: 0 5px 10px $colorSecondary;

      border-radius: 0 0 50% 50%;
      height: 300px;
    }

    &__item {
      background: none;
      border-radius: none;
      text-align: center;
      margin: 0;
      padding: 0;

      a {
        color: #fff;
        border: none;
        padding: 20px;
      }
    }
    &__item:hover {
      box-shadow: none;
    }
  }

  .scroll.header {
    height: auto;
    z-index: 300;

    &__subtitle {
      display: none;
      transition: all 0.8s linear 0.05s;
    }

    &__title {
      display: none;
    }
    &__nav {
      top: 80px;
      width: 100%;
      font-size: 1.5em;
      line-height: 1em;
    }

    &__nav.dropped {
      left: 50%;
    }

    &__nav_burger {
      top: 20px;
      transition: all 0.8s linear 0.05s;
    }

    img.logo.scroll {
      height: 80px;
    }
  }
}
