@import "../../styles/variables";

.thanks {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/fundo03.jpg");
  background-position: center;
  height: 100vh;
  
  &__box {
    padding: 20px;
    background-color: $colorPrimary;
    box-shadow: 0 0 3px white;
    border-radius: 30px;
    width: 60vw;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border: 1px solid $colorTertiary;

    h1 {
      line-height: 1.3em;
      font-size: 2em;
      font-family: $font-family-title, Arial, Helvetica, sans-serif;
      margin: 20px auto;
      font-weight: 700;
    }
  }
  &__btn {
    margin: 50px auto 0;
    width: fit-content;
    padding: 10px 15px;
    transform: scale(0.95);
  }
}

@media (max-width: 700px) {
  .thanks {
    &__box {
      
      h1 {
        font-size: 15px !important;
        font-weight: normal;
        line-height: 1.1em;
      }
    }

    &__btn {
      margin: 25px auto 0;
    }
  }
}