footer.footer#contacts
  .container 
    .footer__logo
      img.logo.footer__img(src=require("../../../images/logo-com-letras.svg"), alt="logo")
    div(data-aos="fade-in" data-aos-duration="1800").footer__title.sectionTitle Contatos
    .footer__row
      a.footer__item(href="https://wa.me/5521968973060")
        img(src=require("../../../images/icons/whatsapp.svg"), alt="whatsapp")
        p 21-96897-3060
      a.footer__item(href= "https://www.instagram.com/fabianomoset") 
        img(src=require("../../../images/icons/instagram.svg"), alt="instagram")
        p fabianomoset
      .footer__item
        img(src=require("../../../images/icons/email.svg"), alt="email")
        p oliveiraservicosdeengenharia@gmail.com
    .footer__copyright 
      p Criado por 
        a(href="https://eformaliza.com/") eformaliza.com
  