.mission#mission
  .container 
    .mission__box 
      p.mission__description Oliveira Serviços Engenharia Oliveira Serviços EngenhariaOliveira Serviços EngenhariaOliveira Serviços EngenhariaOliveira Serviços EngenhariaOliveira Serviços EngenhariaOliveira Serviços EngenhariaOliveira Serviços EngenhariaOliveira Serviços EngenhariaOliveira Serviços Engenharia