doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Serviço de engenharia predial, recuperação de telhados, fachadas. Pintura, impermeabilização. Serviços eletricos. Instalação de spas e hidromassagens. Autovistoria.")
    meta(name="keywords" content="recuperação, telhados, fachadas, pinturas, eletrica, impermeabilização, spa, banheiro, prédio" )
    meta(property="og:type" content="website")
    meta(property="og:title" content="Serviço de engenharia predial") 
    meta(property="og:site_name" content="OLIVEIRA SERVIÇOS DE ENGENHARIA") 
    meta(property="og:url" content="https://truealexander.github.io/oliveira/") 
    meta(property="og:description" content="Serviço de engenharia predial, recuperação de telhados, fachadas. Pintura, impermeabilização. Serviços eletricos. Instalação de spas e hidromassagens. Autovistoria.") 
    meta(property="og:image" content="#")
    title Oliveira Serviços
  body.preload(style="visibility: hidden;")
    include components/header/header
    include components/home/home
    include components/services/services 
    include components/obras/obras
    include components/ask/ask
    include components/opinions/opinions
    include components/footer/footer
    include components/whatsappIcon/whatsappIcon
    