doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    //- meta(name="description" content="Criação de web sites profissionais" )
    //- meta(name="keywords" content="criacão, sites, web, page, pagina, emprendedor, empresa, advogados, guarulhos, osasco, salvador, goiania, joinville, curitiba, fortaleza, campinas, sp, porto alegre, df, brasilia, curitiba, bh, criacao")
    //- meta(property="og:type" content="website")
    //- meta(property="og:title" content="e-Formaliza") 
    //- meta(property="og:site_name" content="Pensou em sites? Pensou e-Formaliza") 
    //- meta(property="og:url" content="https://www.eformaliza.com/") 
    //- meta(property="og:description" content="Criação de web sites profissionais") 
    //- meta(property="og:image" content="https://i.postimg.cc/RCWvsSxt/logo-principal.jpg")
    title Telhados. Obras realizadas
  body.preload(style="visibility: hidden;")
    include components/imagesObras/telhado
    include components/whatsappIcon/whatsappIcon
    include components/backButton/backButton
    include components/footer/footer