.opinions#opinions
  .container
    .opinions__title.sectionTitle Opiniones de nuestros clientes
    //Slider main container
    .swiper
      //Additional required wrapper
      .swiper-wrapper
        //Slides
        .swiper-slide
          p.swiper-opinion Toda la variedad de jabones es exepcional, me encantan, llevo 2 años comprando estos jabones y mi piel esta muy hidratada, junto con la crema me han ayudado a desvanecer las marcas de acne que solia tener estoy encantada con estos productos.
          p.swiper-client Wendy Hernandez
          p.swiper-city Ciudad Torreón, Coahuila
        .swiper-slide
          p.swiper-opinion Excelente producto 100 % recomendable, me encanta el jabon de pepino con miel y la crema es buenisima.
          p.swiper-client Olga de la Garza
          p.swiper-city Cancún, México
        .swiper-slide
          p.swiper-opinion Estoy encantada con el jabon de Romero, ya que mi piel estaba muy reseca y desde que los estoy usando mi piel esta completamente hidratada, lo aplico de dia y de noche y he tenido exceletes resutados. La crema no la he probado, pero deseo hacer pronto mi pedido. 
          p.swiper-client Lucia Rubio
          p.swiper-city Ciudad Torreón, Coahuila
        .swiper-slide
          p.swiper-opinion Considero que estos productos, cumplen con mis expectativas a bajo costo. Desde que uso el jabon de miel, e notado una gran diferencia, mi cara esta mucho mas radiante e hidratada, la crema me fascina, ambos los uso de dia y de noche; Con estos productos lo tengo todo.
          p.swiper-client Olivia Martinez
          p.swiper-city San Pedro, Coahuila
        .swiper-slide
          p.swiper-opinion Hice un pedido grande de estos productos, para un evento, Presisamente porque estoy maravillada con los cambios favorables que e tenido en mi rostro; Tenia muchas marcas de acne y ahora se han desaparecido. 
          p.swiper-client Dary Villarreal
          p.swiper-city Ciudad Torreón, Coahuila
      //If we need pagination
      .swiper-pagination
    //If we need navigation buttons
  .swiper-button-prev
  .swiper-button-next