.opinions#opinions
  .container
    div(data-aos="fade-in" data-aos-duration="1800").opinions__title.sectionTitle Opiniões de nossos clientes
    //Slider main container
    .swiper
      //Additional required wrapper
      .swiper-wrapper
        //Slides
        .swiper-slide.option3
          p.swiper-opinion Parceria é a palavra chave para falar da Oliveira Serviços de Engenharia. Trabalho em conjunto com o sindico para redução de preços, otimização do prazo de execução estabelecido e ótimo preço e forma de pagamento.
          p.swiper-client Mariana Ribeiro
          p.swiper-city Rio de Janeiro
        .swiper-slide.option2
          p.swiper-opinion Empresa parceira na execução dos serviços de impermeabilização. Comunicação com os clientes, resolução de problemas e cumprimento de prazos e metas foram essenciais para o sucesso do projeto.
          p.swiper-client Ana Monteiro
          p.swiper-city Nova Iguaçu
        .swiper-slide.option3
          p.swiper-opinion A reforma de nossa fachada foi feita de forma rápida e eficiente ! Recomendamos sempre a empresa. 
          p.swiper-client Gilberto Fernandes
          p.swiper-city Duque de Caxias
        .swiper-slide.option2
          p.swiper-opinion Instalamos a hidromassagem em nossa residência. O serviço foi muito rápido e o acabamento perfeito.
          p.swiper-client Adriana de Souza
          p.swiper-city Rio de Janeiro
      //If we need pagination
      .swiper-pagination
    //If we need navigation buttons
  .swiper-button-prev
  .swiper-button-next