@import "../../styles/variables";


.opinions {
  position: relative;
  background-image: url("/images/fundo03.jpg");

  .swiper-button-prev,
  .swiper-button-next {
    color: rgba(0, 0, 0, 0.7);
    top: 63%;
    position: absolute;
    z-index: 20;
  }
  .swiper-button-prev {
    left: 3.5%;
  }
  .swiper-button-next {
    right: 3.5%;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    color: $colorTertiary;
  }
}
.swiper {
  color: #fff;
  max-width: 90%;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 0 50px $colorPrimary;
  margin: 30px auto 45px;
  display: flex;
  justify-content: center;

  &-wrapper {
    margin: 20px;

    .swiper-slide {
      background-color: $colorTertiary;
      height: 300px;
      overflow: hidden;
      border: 7px solid $colorLightGrey;
      border-radius: 20px;
      padding: 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 0.3s linear 0.1s;
    }

    .swiper-slide.option2 {
      font-family: montserrat, sans-serif;
      .swiper-opinion {
        font-family: montserrat, sans-serif;
        line-height: 1.3em;
      }
    }

    .swiper-slide.option1 {
      background-color: $colorSecondary;
      font-family: montserrat, sans-serif;
      .swiper-opinion {
        font-family: montserrat, sans-serif;
        font-size: 1.5em;
        line-height: 1.3em;
      }
    }

    .swiper-slide.option3 {
      background-color: rgba(0, 0, 0, 0.692);
      font-family: montserrat, sans-serif;
      .swiper-opinion {
        font-family: montserrat, sans-serif;
      }
    }

    .swiper-slide:hover {
      transition: all 0.3s linear 0.1s;
      box-shadow: 0 4px 10px $colorSecondary;
      transform: translateY(-4px) scale(1.01);
      cursor: grabbing;
    }
  }

  &-opinion {
    font-family: $font-family-description, sans-serif;
    line-height: 1.4em;
    font-size: 1.3em;
    flex: 1 1 auto;
  }
  &-opinion:before,
  &-opinion:after {
    content: '"';
  }

  &-client {
    text-transform: uppercase;
    margin: 10px auto;
    font-family: julian, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
  }

  &-city {
    text-transform: capitalize;
    font-size: 1.1em;
  }

  &-pagination {
    .swiper-pagination-bullet-active {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

@media (max-width: 883px) {
  .swiper {
    height: auto;

    &-wrapper {
      .swiper-slide {
        height: auto;
      }
    }

    &-opinion {
      line-height: 1.2em;
      font-size: 1em;
    }
  }

  .opinions {
    .swiper-button-prev,
    .swiper-button-next {
      top: 68%;
    }
    .swiper-button-prev {
      left: 1%;
    }
    .swiper-button-next {
      right: 1%;
    }
  }
 
}
