.opinions#opinions
  .container
    .opinions__title.sectionTitle Opiniões de nossos clientes
    //Slider main container
    .swiper
      //Additional required wrapper
      .swiper-wrapper
        //Slides
        .swiper-slide
          p.swiper-opinion Parceria é a palavra chave para falar da Oliveira Serviços de Engenharia. Trabalho em conjunto com o sindico para redução de preços, otimização do prazo de execução estabelecido e ótimo preço e forma de pagamento.
          p.swiper-client Claudia Rocha
          p.swiper-city Rio de Janeiro
        .swiper-slide
          p.swiper-opinion Parceria é a palavra chave para falar da Oliveira Serviços de Engenharia. Trabalho em conjunto com o sindico para redução de preços, otimização do prazo de execução estabelecido e ótimo preço e forma de pagamento.
          p.swiper-client Claudia Rocha
          p.swiper-city Rio de Janeiro
        .swiper-slide
          p.swiper-opinion Parceria é a palavra chave para falar da Oliveira Serviços de Engenharia. Trabalho em conjunto com o sindico para redução de preços, otimização do prazo de execução estabelecido e ótimo preço e forma de pagamento.
          p.swiper-client Claudia Rocha
          p.swiper-city Rio de Janeiro
        .swiper-slide
          p.swiper-opinion Parceria é a palavra chave para falar da Oliveira Serviços de Engenharia. Trabalho em conjunto com o sindico para redução de preços, otimização do prazo de execução estabelecido e ótimo preço e forma de pagamento.
          p.swiper-client Claudia Rocha
          p.swiper-city Rio de Janeiro
        .swiper-slide
          p.swiper-opinion Parceria é a palavra chave para falar da Oliveira Serviços de Engenharia. Trabalho em conjunto com o sindico para redução de preços, otimização do prazo de execução estabelecido e ótimo preço e forma de pagamento.
          p.swiper-client Claudia Rocha
          p.swiper-city Rio de Janeiro
      //If we need pagination
      .swiper-pagination
    //If we need navigation buttons
  .swiper-button-prev
  .swiper-button-next