.telhado 
  .container 
    .telhado__title.sectionTitle Obras realizadas 
    .telhado__subtitle.sectionTitle Serviços Eletricos
    .telhado__box 
      .telhado__row
        .telhado__item 
          .telhado__photo
            img(src="", alt="Photo1") 
        .telhado__item 
          .telhado__photo
            img(src="", alt="Photo2")