.telhado 
  .container 
    .telhado__title.sectionTitle Obras realizadas 
    .telhado__subtitle.sectionTitle Pinturas
    .telhado__box 
      .telhado__row
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/pinturas/1.jpg"), alt="Photo1") 
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/pinturas/2.jpg"), alt="Photo2")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/pinturas/3.jpg"), alt="Photo3")
        .telhado__item 
          .telhado__photo
            img(src=require("../../../images/pinturas/4.jpg"), alt="Photo4")