.telhado 
  .container 
    .telhado__title.sectionTitle Obras realizadas 
    .telhado__subtitle.sectionTitle Telhados
    .telhado__box 
      .telhado__row
        .telhado__item 
          .telhado__photo
            img(src="", alt="Photo1") 
        .telhado__item 
          .telhado__photo
            img(src="", alt="Photo2")
        .telhado__item 
          .telhado__photo
            img(src="", alt="Photo3") 
      .telhado__row
        .telhado__item 
          .telhado__photo
            img(src="", alt="Photo4") 
        .telhado__item 
          .telhado__photo
            img(src="", alt="Photo5")
        .telhado__item 
          .telhado__photo
            img(src="", alt="Photo6")